body {
  color: #615d59;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.App-search {
  width: 80%;
  margin: 1rem;
  padding: 0.5rem;
}

.App-header {
  height: 40px;
  background-color: #244c5a;
}

.App-logo {
  height: 100%;
}

.App-sidebar {
  width: 30%;
  height: calc(100vh - 40px);
}

.App-map {
  width: 70%;
}
